.container-center-horizontal{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  justify-content: center;
  width: 100%;
}

.container{
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
    .center-vertical {
    align-items         : center;
    height              : 100%;
    }
    .center-horizontal {
    justify-content     : center;
    width               : 100%;
    }
}


body{
  margin: 0; 
  background: $white;
  align-items: flex-end;
  border-color: $graydark;
  border-style: solid;
  border-width: 1.0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 6150px;
  overflow: hidden;
  position: relative;
  width: 1440.0px;
      > header{
          background-color: $graydark;
          flex-shrink: 0;
          height: 1672px;
          margin-right: -150.0px;
          position: relative;
          width: 1596px;
      }

  }



.flexbox-container {
  a{
      line-height: 0;
  }
}


.overlap-group{
  background-color: $graydark;
  flex-shrink: 0;
  height: 1672px;
  margin-right: -150.0px;
  position: relative;
  width: 1596px;
}

.bg-section{
  background-color: $white;
  height: 882px;
  left: 0px;
  position: absolute;
  top: 790px;
  width: 1440px;
}

.download-da-app-section {
  height: 1000px;
  left: 107px;
  position: absolute;
  top: 609px;
  width: 1231px;
}

.botoes-stores {
  align-items: flex-start;
  background-color: $graydark;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 208px;
  position: absolute;
  top: 591px;
  width: 550px;
}

.step-1 {
  align-items: flex-end;
  background-color: $graydark;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 246px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 10.0px;
  position: relative;
  width: 248px;
}

.step-2 {
  align-items: center;
  background-color: $graydark;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 246px;
  justify-content: flex-start;
  margin-left: 35px;
  overflow: hidden;
  padding: 1.0px 0.1px;
  position: relative;
  width: 220px;
}

.step-3{
  align-items: center;
  background-color: rgba(255,255,255,0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 246px;
  justify-content: flex-start;
  margin-left: 33px;
  overflow: hidden;
  padding: 0 0.1px;
  position: relative;
  width: 214px;
}

.auto-flex {
  align-items : flex-start;
  background-color: rgba(255,255,255,0);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 246px;
  justify-content: flex-start;
  margin-left: 0.58px;
  margin-top: 45px;
  position: relative;
  width: auto;
}
.auto-flex1 {
  align-items: flex-start;
  background-color: rgba(255,255,255,0);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 60px;
  justify-content: flex-start;
  margin-top: 16px;
  position: relative;
  width: auto;
}

.rectangle {
  background-color: $white;
  border-radius: 18.0px;
  box-shadow: 0px 20px 80px rgba(19,90,112,0.070000000298);;
  height: 1002px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 1233px;
}
