@import url('https://fonts.googleapis.com/css?family=Roboto:500|SFPro+Text:400|SF+Pro Text:500,200,400,700');


html{
    font-family: $bodyfont, Helvetica, Arial, serif;
    color: $black;
    font-weight: 400;
    line-height: 1.618; // the golden ratio, baby!
    // Setting base REM for different breakpoints:
    font-size: 14px;
    @media(min-width: $tablet){
      font-size: 15px;
    }
    @media(min-width: $desktop){
      font-size: 16px;
    }
}

/* ===================== */
/* ======= LINKS ======= */
/* ===================== */
a{
  @extend .animate;
  text-decoration: none;
  color: $black;
  &:hover{
    color: $gray;
  }
}

/* ======================== */
/* ======= HEADINGS ======= */
/* ======================== */
h1, h2, h3, h4, h5, h6{
  font-family: $titlesfont, Helvetica, Arial, serif;
  font-weight: 400;
  color: $black
  margin: 0;
  line-height: 1.414; // the square root of "2"
}
h4 {
  color: $gray
  font-size: 42.0px;
  font-weight: 500;
  line-height: 50.0px;
}
h3 {
  font-weight: 200;
}
h1 {
  color               : $white
  font-weight         : 700;
}

.font-class-2 {
  font-size           : 12.0px;
  font-weight         : 400;
  line-height         : 20.0px;
}


.font-class-7 {
  color               : $graydark
  font-size           : 20.0px;
  font-weight         : 400;
  line-height         : 28.0px;
}

/* ============================== */
/* ======= TEXT ALIGNMENT ======= */
/* ============================== */
.textleft{
  text-align: left;
}
.textcenter{
  text-align: center;
}
.textright{
  text-align: right;
}

/* ===================== */
/* ======= OTHER ======= */
/* ===================== */
small, .small{
  font-size: 0.8rem;
}
.uppercase{
  text-transform: uppercase;
}
.fancytext{
  @extend .small;
  @extend .uppercase;
  letter-spacing: 1px;
  font-family: $titlesfont, sans-serif;
  font-weight: 400;
}
.central-link{
  @extend .margintophalf;
  @extend .textcenter;
  width: 100%;
  a{
    @extend .bg-graydark;
    @extend .white;
    @extend .fancytext;
    display: inline-block;
    padding: $gridgutter / 3 $gridgutter / 2;
    &:hover{
      background-color: $black;
    }
  }
}
.central-link-light{
  @extend .margintophalf;
  @extend .textcenter;
  width: 100%;
  a{
    @extend .fancytext;
    display: inline-block;
    padding: $gridgutter / 3 $gridgutter / 2;
    &:hover{
      color: $gray;
    }
  }
}



h6 {
  font-family         : SFPro Text, Helvetica, Arial, serif;
  font-weight         : 400;
}
h3 {
  color               : $white;
  font-family         : SF Pro Text, Helvetica, Arial, serif;
  font-weight         : 700;
  letter-spacing      : 2.00px;
}

h4 {
  font-family         : SF Pro Text, Helvetica, Arial, serif;
  font-weight         : 200;
}

h2{
  font-family         : SF Pro Text, Helvetica, Arial, serif;
  font-weight         : 400;
}

h2 {
  color               : $white;
  font-family         : SF Pro Text, Helvetica, Arial, serif;
  font-size           : 42.0px;
  font-weight         : 500;
  line-height         : 50.0px;
}