.container-center-horizontal{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: center;
    width: 100%;
}

body{
    margin: 0; 
    background: $white;
    align-items: flex-end;
    border-color: $graydark;
    border-style: solid;
    border-width: 1.0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    min-height: 6150px;
    overflow: hidden;
    position: relative;
    width: 1440.0px;
        > header{
            background-color: $graydark;
            flex-shrink: 0;
            height: 1672px;
            margin-right: -150.0px;
            position: relative;
            width: 1596px;
        }

    }



.flexbox-container {
    a{
        line-height: 0;
    }
}


.overlap-group{
    background-color: $graydark;
    flex-shrink: 0;
    height: 1672px;
    margin-right: -150.0px;
    position: relative;
    width: 1596px;
}

.bg-section{
    background-color: $white;
    height: 882px;
    left: 0px;
    position: absolute;
    top: 790px;
    width: 1440px;
}

.download-da-app-section {
    height: 1000px;
    left: 107px;
    position: absolute;
    top: 609px;
    width: 1231px;
}

.rectangle {
    background-color: $white;
    border-radius: 18.0px;
    box-shadow: 0px 20px 80px rgba(19,90,112,0.070000000298);;
    height: 1002px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 1233px;
}

.botoes-stores {
    align-items: flex-start;
    background-color: $graydark;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    left: 208px;
    position: absolute;
    top: 591px;
    width: 550px;
  }

.step-1 {
    align-items: flex-end;
    background-color: $graydark;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 246px;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0 10.0px;
    position: relative;
    width: 248px;
  }

.step-2 {
    align-items: center;
    background-color: $graydark;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 246px;
    justify-content: flex-start;
    margin-left: 35px;
    overflow: hidden;
    padding: 1.0px 0.1px;
    position: relative;
    width: 220px;
  }

 .step-3{
    align-items: center;
    background-color: rgba(255,255,255,0);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 246px;
    justify-content: flex-start;
    margin-left: 33px;
    overflow: hidden;
    padding: 0 0.1px;
    position: relative;
    width: 214px;
  }

  .auto-flex {
    align-items : flex-start;
    background-color: rgba(255,255,255,0);
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 246px;
    justify-content: flex-start;
    margin-left: 0.58px;
    margin-top: 45px;
    position: relative;
    width: auto;
  }
.auto-flex1 {
    align-items: flex-start;
    background-color: rgba(255,255,255,0);
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 60px;
    justify-content: flex-start;
    margin-top: 16px;
    position: relative;
    width: auto;
}









/* 
    #promobar{
        font-size: 0.7rem;
        line-height: $gridgutter;
        letter-spacing: 1px;
        @media(min-width: $desktop){
            letter-spacing: 1px;
        }
    }
    > header{
        background-color: $graydark;
        flex-shrink: 0;
        height: 1672px;
        margin-right: -150.0px;
        position: relative;
        width: 1596px;
    }
        nav{
            padding-top: $gridgutter / 2;
            @media(min-width: $tablet){
                padding-bottom: $gridgutter / 2;
            }
            #logo{
                height: $gridgutter * 1.5;
                > a{
                    @extend .bg-black;
                    display: inline-block;
                    width: 125px;
                    height: auto;
                    box-sizing: border-box;
                    padding: $gridgutter / 3;
                }
            }
            ul{
                height: $gridgutter * 1.5;
                list-style-type: none;
                margin: 0;
                li{
                    display: inline-block;
                    a{
                        display: inline-block;
                        text-transform: uppercase;
                        font-weight: 400;
                        font-size: 0.75rem;
                        line-height: $gridgutter * 1.5;
                        height: $gridgutter * 1.5;
                        letter-spacing: 1px;
                        @media(min-width: $desktop){
                            letter-spacing: 2px;
                        }
                    }
                }
                &#mainmenu{
                    order: 3;
                    display: flex;
                    justify-content: space-between;
                    @media(min-width: $tablet){
                        display: block;
                        order: 0;
                    }
                    li{
                        @media(min-width: $tablet){
                            margin-right: $gridgutter / 3;
                        }
                        @media(min-width: $desktop){
                            margin-right: $gridgutter;
                        }
                    }
                }
                &#customermenu{
                    i{
                        display: inline-block;
                        font-size: 1.2rem;
                        margin-left: $gridgutter / 2;
                        @media(min-width: $tablet){
                            margin-left: $gridgutter / 3;
                        }
                        @media(min-width: $desktop){
                            margin-left: $gridgutter / 2;
                        }
                    }
                }
            }
        }
    }
}

.slider{
    height: 65vh;
    background-color: $graylight;
    position: relative;
    &-slides{
        height: 65vh;
        position: relative;
        &-slide{
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 65vh;
            overflow: hidden;
            img{
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &-caption{
                width: 100%;
                height: 65vh;
                box-sizing: border-box;
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                background-color: rgba($black, 0.6);
                padding-left: $gridgutter/2;
                padding-right: $gridgutter/2;
                @media(min-width: $tablet){
                    padding-left: 55vw;
                    padding-right: $gridgutter;
                }
                @media(min-width: $desktop){
                    padding-left: 60vw;
                    padding-right: $gridgutter;
                }
                .h1{
                    font-size: 3rem;
                    color: $white;
                    margin-bottom: $gridgutter;
                }
                a{
                    display: inline-block;
                    color: $white;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    letter-spacing: 1px;
                    padding-bottom: $gridgutter/5;
                    border-bottom: 1px solid $white;
                    &:hover{
                        border-bottom-color: $gray;
                    }
                }
            }
        }
    }
    $topbutton: $gridgutter*3/2;
    &-next, &-previous{
        @extend .animate;
        display: none;
        @media(min-width: $tablet){
            display: block;
            position: absolute;
            z-index: 2;
            top: calc(32.5vh - #{$topbutton});
            width: $gridgutter*2;
            line-height: $gridgutter*3;
            height: $gridgutter*3;
            font-size: 3rem;
            text-align: center;
            background-color: $gray;
            color: $white;
            i{
                line-height: $gridgutter*3;
            }
            &:hover{
                background-color: $white;
                color: $gray;
                width: $gridgutter*3;
            }
        }
    }
    &-next{
        right: 0;
        border-radius: $gridgutter*3/2 0 0 $gridgutter*3/2;
    }
    &-previous{
        left: 0;
        border-radius: 0 $gridgutter*3/2 $gridgutter*3/2 0;
    }
}
/*