$titlesfont: "SF";
$titlesfontweights: "400;600";
$bodyfont: "SF";
$bodyfontweights: "400";

$primary: #1EA0C8;
$secondary: #0F314D;
$graydark: #2E2E2E;
$gray: #727272;
$graylight: #A1A1A1;
$white: #FFF;
$black: #000;
$orange: #f05513;
$red:#f03a13;

$animationtime: 0.4s;

$tablet: 750px;
$desktop: 1440px;

$gridcolumns: 12;
$gridgutter: 88px;

$gridwidth: 100%;
$gridwidtht: 90%;
$gridwidthd: $desktop - $gridgutter;

$icomoon-font-family: "Ic_shopinporto" !default;
$icomoon-font-path: ".../fonts" !default;

$ic-arrow_right: "\e900";
$ic-help_icon: "\e901";
$ic-ico_comerciante: "\e902";
$ic-ico_consumidor: "\e903";
$ic-logo: "\e91c";
$ic-mdi_arrow_drop_down: "\e91d";
$ic-mdi_keyboard_arrow_right: "\e91e";
$ic-mdi_language: "\e91f";
$ic-search-24px: "\e920";
$ic-Animais: "\e921";
$ic-Antiguidades-e-Obras-de-Arte: "\e922";
$ic-Cultura-e-Lazer: "\e923";
$ic-Flores-e-Plantas: "\e924";
$ic-Fotografia: "\e925";
$ic-Papelaria-e-Grafica: "\e925";
$ic-Lar: "\e926";
$ic-Decoracao-e-Bricolage: "\e926";
$ic-Moda-Contemporanea-e-Vintage: "\e927";
$ic-Moda-Infantil: "\e928";
$ic-Musica: "\e929";
$ic-Ourivesaria: "\e92a";
$ic-Produtos-Alimentares: "\e92b";
$ic-Produtos-Regionais-e-Artesanato: "\e92c";
$ic-Restauracao-e-Bebidas: "\e92d";
$ic-Sapatarias: "\e92e";
$ic-Acessorios-e-Marroquinaria: "\e92e";
$ic-Saude: "\e92f";
$ic-Bem-Estar-e-Cuidados-Pessoais: "\e92f";
$ic-Servicos-de-Utilidade-Domestica: "\e930";
$ic-Tecnologia-e-Equipamentos-Eletronicos: "\e931";
$ic-Trajes: "\e932";
$ic-Fardas-e-Festas: "\e932";
$ic-Tudo: "\e933";
$ic-Turismo: "\e934";
$ic-Veiculos: "\e935";