.container{
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
    .center-vertical {
    align-items         : center;
    height              : 100%;
    }
    .center-horizontal {
    justify-content     : center;
    width               : 100%;
    }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-family: $titlesfont, sans-serif;
    font-weight: 600;
    // remove default heading margins, 'cause fuck'em!
    margin: 0;
    line-height: 1.414; // the square root of "2"
  }
  h1, .h1, h2, .h2{
    font-size: 2.2rem;
  }
